body{
background-color:white;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
margin:0px;
padding:0px;
color:white;
}

ul,li{
margin:0px;
padding:0px;
}

li{
display:inline;
list-style:none;
list-style-position:outside;
text-align:center;
font-weight:bold;
float:left;
}

#nav{
width:680px;
height:40px;
border-bottom:0px;
padding:0px 5px;
}

.menu1{
width:160px;
height:30px;
margin:6px 4px 0px 0px;
border:1px solid #9CDD75;
background-color:#F1FBEC;
color:#336601;
padding:6px 0px 0px 0px;
cursor:hand;
overflow-y:hidden;
filter:Alpha(opacity=70);
-moz-opacity:0.7;
}

.menu2{
width:160px;
height:30px;
margin:6px 4px 0px 0px;
background-color:#F5F5F5;
color:#999999;
border:1px solid #EEE8DD;
padding:6px 0px 0px 0px;
overflow-y:hidden;
cursor:hand;
}

.style {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.paragraph_style {
	PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 24px/29px 'Verdana', sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0px; PADDING-TOP: 0px; LETTER-SPACING: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none; opacity: 1.00
}
.paragraph_style_1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 18px/22px 'Verdana', sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0px; PADDING-TOP: 0px; LETTER-SPACING: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none; opacity: 1.00
}
.style_1 {
	FONT-SIZE: 16px; LINE-HEIGHT: 19px
}
.style_3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.paragraph_style_3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 14px/20px 'Verdana', sans-serif; TEXT-TRANSFORM: none; COLOR: #404040; TEXT-INDENT: 0px; PADDING-TOP: 0px; LETTER-SPACING: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none; opacity: 1.00
}
A {
	COLOR: #a64b3c; TEXT-DECORATION: none
}
A:visited {
	COLOR: #a64b3c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #d67053; TEXT-DECORATION: underline
}